---
import SIDEBAR from "../../constants/sidebar";

const pathname = new URL(Astro.request.url).pathname;
---

<div class="drawer-side z-40 md:border-r md:border-base-content/10 lg:sticky lg:top-28 lg:h-[calc(100vh-7rem)]">
  <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"
  ></label>
  <aside class="bg-base-100 w-72 sm:w-80 h-full overflow-y-auto z-40">
    <div class="p-4 pt-0">
      {
        SIDEBAR.map((navItem) => (
          <div class="mb-8">
            <h2 class="mb-4 text-xl font-bold font-outfit">
              {navItem.title}
            </h2>
            <ul class="menu menu-sm p-0 space-y-1">
              {navItem.items.map((navItem) => (
                <li>
                  <a
                    href={navItem.href}
                    class={`py-2 px-3 hover:text-[#ff4500] hover:bg-[#ff4500]/10 transition ${pathname === navItem.href ? "text-[#ff4500] bg-[#ff4500]/10" : ""}`}
                  >
                    {navItem.title}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </aside>
</div>
