---
import Hero from "../components/home/Hero.astro";
import Performance from "../components/home/Performance.astro";
import Features from "../components/home/Features.astro";
import "@fontsource-variable/outfit";
import Install from "../components/home/Install.astro";
import HomeLayout from "../layouts/HomeLayout.astro";
---

<HomeLayout title="xldx - Excel File Builder for TypeScript">
  <div class="px-3 md:px-10 xl:px-28">
    <Hero />
    <Performance />
    <Features />
    <Install />
  </div>
</HomeLayout>
